mixin card-product(img, name, description, price)
    - let mixinClass = ''
    if attributes.class 
        - mixinClass = ' ' + attributes.class

    div(class='card-product' + mixinClass)
            img.card-product__img(src=img)
            h3.card-product__name= name
            p.card-product__description= description
            .card-product__row
                p.card-product__price= price
                button.button.card-product__button(type='button') в корзину