@import "../chef/chef.scss";

.best-chefs {
  margin-top: 82px;

  @media (max-width: $tabletWidth) {
    margin-top: 10.66rem;
  }

  &__title {
    position: relative;
    @include montserrat(500);
    @include subtitle();
    text-align: center;
    color: #d9d9d9;
  }

  

  &__title::after {
    @include decorUnderline();
  }

  &__list {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 951px;
    justify-content: space-between;

    @media (max-width: $tabletWidth) {
      margin-top: 8.6rem;
      padding: 0 5.33rem;
    }
  }
}
