include ../chef/chef.pug

section.best-chefs.wrapper
    h2.best-chefs__title Лучшие повара этого месяца
    ul.best-chefs__list
        +chef('./src/img/avatar-1.png', 'Григорий Ковалёв', 'Шеф холодного цеха')
        +chef('./src/img/avatar-2.png', 'Наталья Орехова', 'Су-шеф горячего цеха')
        +chef('./src/img/avatar-3.png', 'Олег Гилберт', 'Шеф-кондитер')
