footer.footer
    .logo.footer__logo
        img.logo__img.footer__logo-img(src='./src/svg/logo.svg', alt='logo')
        p.logo__text.footer__logo-text Территория вкуса 
    ul.links.footer__menu
        li.links__item
            a.links__link(href='') О нас
        li.links__item
            a.links__link(href='') Меню
        li.links__item
            a.links__link(href='') Доставка
        li.links__item
            a.links__link(href='') Оплата
        li.links__item
            a.links__link(href='') Франшиза
        li.links__item
            a.links__link(href='') Вакансии
    .socials.footer__socials
        a.socials__link(href='')
            img.socials__icon(src='./src/svg/icon-in.svg', alt='social-icon')
        a.socials__link(href='')
            img.socials__icon(src='./src/svg/icon-fb.svg', alt='social-icon')
        a.socials__link(href='')
            img.socials__icon(src='./src/svg/icon-tw.svg', alt='social-icon')
        a.socials__link(href='')
            img.socials__icon(src='./src/svg/icon-wt.svg', alt='social-icon')