footer.footer
    .logo.footer__logo
        img.logo__img(src='./src/svg/logo.svg', alt='logo')
        p.logo__text Территория вкуса 
    ul.footer-links
        li.footer-links__item
            a.footer-links__link(href='') О нас
        li.footer-links__item
            a.footer-links__link(href='') Меню
        li.footer-links__item
            a.footer-links__link(href='') Доставка
        li.footer-links__item
            a.footer-links__link(href='') Оплата
        li.footer-links__item
            a.footer-links__link(href='') Франшиза
        li.footer-links__item
            a.footer-links__link(href='') Вакансии
    .footer-socials
        a.footer-socials__link(href='')
            img.footer-socials__icon(src='./src/svg/icon-in.svg', alt='social-icon')
        a.footer-socials__link(href='')
            img.footer-socials__icon(src='./src/svg/icon-fb.svg', alt='social-icon')
        a.footer-socials__link(href='')
            img.footer-socials__icon(src='./src/svg/icon-tw.svg', alt='social-icon')
        a.footer-socials__link(href='')
            img.footer-socials__icon(src='./src/svg/icon-wt.svg', alt='social-icon')