.footer {
  overflow: hidden; // если убрать появляется горизонтальный скролл из-за 100vw
  margin-top: 80px; // возможно стоит создать элемент для отступов и миксовать с блоками

  display: flex;
  flex-direction: column;
  align-items: center;
  background: $darkGray;

  &__logo {
    margin-top: 40px;
  }

  &__menu {
    position: relative;
    margin-top: 18px;
  }

  &__menu::after {
    display: block;
    position: absolute;
    background-color: $liteGray;
    content: "";
    width: 100vw;
    height: 1px;
    bottom: -18px;
  }

  &__socials {
    margin-top: 49px;
    margin-bottom: 28px;
  }
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;

  &__link {
    @include montserrat(normal);
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.75);
  }
}

.socials {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
