.footer {
  overflow: hidden; // если убрать появляется горизонтальный скролл из-за 100vw
  margin-top: 80px; // возможно стоит создать элемент для отступов и миксовать с блоками

  display: flex;
  flex-direction: column;
  align-items: center;
  background: $darkGray;

  @media (max-width: $tabletWidth) {
    margin-top: 6.66rem;
  }

  &__logo {
    margin-top: 40px;

    @media (max-width: $tabletWidth) {
      margin-top: 6.4rem;
    }
  }

  &__logo-img {
    @media (max-width: $tabletWidth) {
      width: 8.26rem;
      height: 8rem;
    }
  }

  &__logo-text {
    @media (max-width: $tabletWidth) {
      @include montserrat(600);
      text-transform: uppercase;
      margin-top: 6.4rem;
      font-size: 6.4rem;
      height: 8rem;
    }
  }

  &__menu {
    position: relative;
    margin-top: 18px;
  }

  &__menu::after {
    display: block;
    position: absolute;
    background-color: $liteGray;
    content: "";
    width: 100vw;
    height: 1px;
    bottom: -18px;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  }

  &__socials {
    margin-top: 49px;
    margin-bottom: 28px;

    @media (max-width: $tabletWidth) {
      margin-top: 10.66rem;
      margin-bottom: 6.4rem;
    }
  }
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;

  &__link {
    @include montserrat(normal);
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.75);
  }
}

.socials {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
