section.services.wrapper
    ul.services__list
        li.services__item
            img.services__img(src="./src/svg/icon-cake.svg" alt="service-icon")
            p.services__text Семейные праздники
        li.services__item
            img.services__img(src="./src/svg/icon-house.svg" alt="service-icon")
            p.services__text Кейтеринг
        li.services__item
            img.services__img(src="./src/svg/icon-case.svg" alt="service-icon")            
            p.services__text Корпоративные обеды