.services {
  &__list {
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 801px;

    @media (max-width: $tabletWidth) {
      margin-top: 10.66rem;
      padding: 0 4.26rem;
    }

    @media (max-width: $mobileWidth) {
      margin-top: 10.66vw;
      padding: 0 4.26vw;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkGray;
    border-radius: 50%;
    border: 1px solid $primaryColor;
    box-sizing: border-box;

    @media (max-width: $tabletWidth) {
      width: 22.4rem;
      height: 22.4rem;
      // object-fit: none;
    }
  
    @media (max-width: $mobileWidth) {
      width: 22.4vw;
      height: 22.4vw;
      // object-fit: contain;
    }
  }

  &__img {
    @media (max-width: $tabletWidth) {
      width: 8.96rem;
      height: 9.33rem;
    }
  
    @media (max-width: $mobileWidth) {
      width: 8.96vw;
      height: 9.33vw;
    }
  }

  &__text {
    margin-top: 20px;
    max-width: 173px;
    @include alegreya(500);
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: $secondaryColor;

    @media (max-width: $tabletWidth) {
      margin-top: 4.8rem;
      max-width: 26.93rem;
      font-size: 3.73rem;
      line-height: 5.06rem;
    }
  
    @media (max-width: $mobileWidth) {
      margin-top: 4.8vw;
      max-width: 26.93vw;
      font-size: 3.73vw;
      line-height: 5.06vw;
    }
  }
}
