.nav {
  background-color: rgba($color: $darkGray, $alpha: 0.75);
  border-radius: 0 0 6px 6px;

  @media (max-width: $tabletWidth) {
    border-radius: 0;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    height: 94px;
    padding: 0 73px;

    @media (max-width: $tabletWidth) {
      padding: 0 4rem;
      height: 12.8rem;
    }

    @media (max-width: $mobileWidth) {
      padding: 0 4vw;
      height: 12.8vw;
    }
  }

  &__button {
    display: none;
    background-color: transparent;

    @media (max-width: $tabletWidth) {
      display: block;
    }
  }

  &__burger-icon {
    width: 8.424rem;
    height: 4.53rem;
    
    @media (max-width: $mobileWidth) {
      width: 8.424vw;
      height: 4.53vw;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 448px;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-family: Alegreya SC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $secondaryColor;
  }

  &__link_green {
    color: $primaryColor;
  }

  &__icons {
    display: none;

    @media (max-width: $tabletWidth) {
      display: flex;
      column-gap: 3rem;
    }

    @media (max-width: $mobileWidth) {
      column-gap: 3vw;
    }
  }

  &__icon {
    width: 6.33rem;
    height: 4.85rem;

    @media (max-width: $mobileWidth) {
      width: 6.33vw;
      height: 4.85vw;
    }
  }

  &__button-wrapper {
    position: relative;
  }

  &__button-count {
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 2.53rem;
    height: 2.53rem;
    border-radius: 50%;
    background: #7d2c1b;
    @include montserrat(500);
    font-size: 1.86rem;
    line-height: 2.4rem;
    color: $secondaryColor;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobileWidth) {
      right: -0.5vw;
      top: -0.5vw;
      width: 2.53vw;
      height: 2.53vw;
      font-size: 1.86vw;
      line-height: 2.4vw;
    }
  }
}
