nav.nav.header__nav
    .nav-container.wrapper
        .logo.nav__logo
            img.logo__img(src='./src/svg/logo.svg', alt='logo')
            p.logo__text Территория вкуса
        ul.nav__menu
            li.nav__item
                a.nav__link.nav__link_green(href='') Пицца
            li.nav__item
                a.nav__link(href='') Роллы
            li.nav__item
                a.nav__link(href='') Бизнес-ланчи
            li.nav__item
                a.nav__link(href='') Закуски
            li.nav__item
                a.nav__link(href='') Десерты
            li.nav__item
                a.nav__link(href='') Напитки