.nav {
  background-color: rgba($color: $darkGray, $alpha: 0.75);
  border-radius: 0 0 6px 6px;

  &-container {
    display: flex;
    justify-content: space-between;
    height: 91px;
    padding: 0 73px;
  }

  &__burger {
    display: none;
    
    @media (max-width: $tabletWidth) {
      display: block;
    }
  }

  &__logo {
    width: 266px;
  }
  // съезжаются элементы меню при уменьшении ширины
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 448px;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-family: Alegreya SC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    color: $secondaryColor;
  }

  &__link_green {
    color: $primaryColor;
  }

  &__icons {
    display: none;

    @media (max-width: $tabletWidth) {
      display: flex;
    }
  }

  &__button {
    background-color: transparent;
  }
}
