.review {
  background: $darkGray;
  padding: 27px 20px 38px 20px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__author {
    @include alegreya(bold);
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.75);
  }

  &__date {
    @include alegreya(normal);
    font-size: 12px;
    line-height: 16px;

    color: $liteGray;
  }

  &__rating {
    margin-top: 12px;
  }

  &__text {
    margin-top: 12px;
    max-width: 330px;

    @include montserrat(normal);
    font-size: 14px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.75);
  }
}
