.communications
    .communications__item
        img.communications__img(src='./src/svg/icon-watch.svg')
        p.communications__text Доставка с 10:00 до 19:00
        p.communications__text.text-shadow Время работы
    .communications__item
        img.communications__img(src='./src/svg/icon-watch.svg')
        p.communications__text ул. Горького, 126
        p.communications__text.text-shadow ближайшее кафе
    .communications__item
        img.communications__img(src='./src/svg/icon-watch.svg')
        p.communications__text 8-800-100-20-20
        p.communications__text.text-shadow заказ по  телефону

