.events {
  margin-top: 80px;

  &__title {
    position: relative;
    @include montserrat(500);
    @include subtitle();
    text-align: center;
    color: #d9d9d9;
  }

  &__title::after {
    @include decorUnderline();
  }

  &__content {
    margin: 82px auto 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    column-gap: 31px;
    
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    width: 100%;
  }

  &__item {
    width: 100%;
  }

  &__item_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  &__item:not(:first-child) {
    margin-top: 40px;
  }

  &__all-events {
    display: flex;
    // margin-left: 100px;
    margin-top: 40px;
    width: fit-content;
    align-self: flex-end;
    @include montserrat(500);
    font-size: 18px;
    line-height: 22px;
    color: $primaryColor;
  }
}
