.events {
  margin-top: 80px;

  @media (max-width: $tabletWidth) {
    margin-top: 10.66rem;
  }

  &__title {
    position: relative;
    @include montserrat(500);
    @include subtitle();
    text-align: center;
    color: #d9d9d9; 
  }

  &__title::after {
    @include decorUnderline();
  }

  &__content {
    margin: 82px auto 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    column-gap: 31px;

    @media (max-width: $tabletWidth) {
      margin-top: 9.6rem;
      flex-direction: column;
      padding: 0 5.33rem;
    }    
  }

  &__calendar-mobile {
    display: none;
    column-gap: 2.4rem;
    justify-content: flex-end;

    @media (max-width: $tabletWidth) {
      display: flex;
    }
  }

  &__calendar-text {
    @include montserrat(normal);
    font-size: 3.73rem;
    line-height: 4.53rem;
    color: $secondaryColor;

  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    width: 100%;

    @media (max-width: $tabletWidth) {
      padding: 0;
      margin-top: 6.4rem;
    }
  }

  &__item {
    width: 100%;
  }

  &__item_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  &__item:not(:first-child) {
    margin-top: 40px;

    @media (max-width: $tabletWidth) {
      margin-top: 5.33rem;
    }
  }

  &__link {
    display: flex;
    // margin-left: 100px;
    margin-top: 40px;
    width: fit-content;
    align-self: flex-end;
    @include montserrat(500);
    font-size: 18px;
    line-height: 22px;
    color: $primaryColor;

    @media (max-width: $tabletWidth) {
      margin-top: 5.33rem;
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
}
