.reviews {
  margin-top: 80px;

  @media (max-width: $tabletWidth) {
    margin-top: 10.66rem;
  }

  &__title {
    position: relative;
    @include montserrat(500);
    @include subtitle();
    text-align: center;
    color: #d9d9d9;
  }

  &__title::after {
    @include decorUnderline();
  }

  &__content {
    display: grid;
    margin: 62px auto 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, 380px);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;

    @media (max-width: $tabletWidth) {
      margin-top: 8.53rem;
      grid-template-columns: repeat(auto-fill, 100vw);
      row-gap: 5.33rem;
    }
  }

  &__item {
    height: 240px;

    @media (max-width: $tabletWidth) {
      height: 199px;
    }

    @media (max-width: $mobileWidth) {
      height: 53.06vw;
    }
  }
}
