.best-products {
  margin-top: 80px;

  @media (max-width: $tabletWidth) {
    margin-top: 10.66rem;
    }

  &__title {
    position: relative;
    @include montserrat(500);
    @include subtitle();
    text-align: center;
    color: #d9d9d9;
  }

  &__title::after {
    @include decorUnderline();
  }

  &__content {
    margin: 82px auto 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;

    @media (max-width: $tabletWidth) {
      margin-top: 9.86rem;
      grid-template-columns: repeat(auto-fill, 42.13rem);
      column-gap: 5.33rem;
      row-gap: 5.33rem;
    }
  }

  &__item {
    @media (max-width: $tabletWidth) {
      height: 56.6rem;
    }
  }
}
