include ../card-product/card-product.pug

- const text = 'Две мясных котлеты гриль, Специальный соус, сыр, Огурцы, салат и лук, Огурцы, салат и лук. Всё на булачке с кунжутом,'

section.best-products.wrapper
    h2.best-products__title Популярные десерты
    .best-products__content
        +card-product(
            './src/img/image-1.png',
            'Шоколадный десерт с овсянкой',
            text, '165₽'
        ).best-products__item
        +card-product(
            './src/img/image-2.png',
            'Блинчики в малиной',
            text, '165₽'
        )
        +card-product(
            './src/img/image-3.png',
            'Ягодный пломбир ',
            text, '165₽'
        )
        +card-product(
            './src/img/image-4.png',
            'Шоколадный десерт с овсянкой',
            text, '165₽'
        )
        +card-product(
            './src/img/image-5.png',
            'Блинчики в малиной',
            text, '165₽'
            )
        +card-product(
            './src/img/image-6.png',
            'Ягодный пломбир ',
            text, '165₽'
        )
        
