.sidebar {
  position: fixed;
  top: 201px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background: rgba($color: $liteGray, $alpha: 0.5);
    transition: background-color 0.8s;
  }

  &__quantity {
    position: absolute;
    right: 5.5px;
    top: 9px;
    padding: 0.3px 0 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7d2c1b;
    @include montserrat(500);
    font-size: 9px;
    line-height: 11px;
    color: $secondaryColor;
  }

  &__item:hover {
    background: rgba($color: $darkGray, $alpha: 0.65);
  }
}
