aside.sidebar
    a.icon.sidebar__item(href='')
        img.icon__img(src='./src/svg/sidebar-icon-1.svg')
    a.icon.sidebar__item(href='')
        img.icon__img(src='./src/svg/sidebar-icon-2.svg')
        .icon__count 6
    a.icon.sidebar__item(href='')
        img.icon__img(src='./src/svg/sidebar-icon-3.svg')
