aside.sidebar
    a.sidebar__item(href='')
        img.sidebar__icon(src='./src/svg/sidebar-icon-1.svg')
    a.sidebar__item(href='')
        img.sidebar__icon(src='./src/svg/sidebar-icon-2.svg')
    a.sidebar__item(href='')
        img.sidebar__icon(src='./src/svg/sidebar-icon-3.svg')
