section.promo
    h2.promo__title Бизнес-ланч
    p.promo__time заказ до 15:00
    .promo-content.promo__content
        ul.promo-content__list
            li.promo-content__item
                p.promo-content__title На первое:
                p.promo-content__text Cуп-лапша, борщ, солянка, сырный крем-суп с грибами
            li.promo-content__item
                p.promo-content__title На второе:
                p.promo-content__text Свиная  отбивная, паста с баклажанами,  стйек из семги, курица по-тайски, запечёный картофель, ризотто
            li.promo-content__item
                p.promo-content__title Салаты:
                p.promo-content__text Фунцоза, цезарь, весенний, ананасовый
            li.promo-content__item
                p.promo-content__title Напитки:
                p.promo-content__text Кофе, чай фруктовый, морс клюквенный, компот яблочно-вишневый
        img.promo__img(src='./src/img/food-1.png')
    button.button.promo__button(type='submit') заказать