.promo {
  max-width: 1200px;
  background: linear-gradient(180deg, $black 0%, #2c2c2c 100%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  @media (max-width: $tabletWidth) {
    padding: 0;
    border-radius: 0;
  }

  &__title {
    margin-top: 40px;
    @include montserrat(600);
    @include subtitle();
    text-transform: uppercase;
    color: $primaryColor;

    @media (max-width: $tabletWidth) {
      margin-top: 5px;
      font-size: 6.4rem;
      line-height: 7.73rem;
    }

    @media (max-width: $mobileWidth) {
      margin-top: 2px;
      font-size: 6.4vw;
      line-height: 7.73vw;
    }
  }

  &__text {
    margin-top: 16px;
    @include alegreya(500);
    font-size: 18px;
    line-height: 24px;

    color: #d9d9d9;

    @media (max-width: $tabletWidth) {
      margin: 0;
      font-size: 3.73rem;
      line-height: 5.06rem;
    }

    @media (max-width: $mobileWidth) {
      font-size: 3.73vw;
      line-height: 5.06vw;
    }
  }

  &__img {
    @media (max-width: $tabletWidth) {
      width: 100%;
      height: fit-content;
    }

    @media (max-width: $mobileWidth) {

    }
  }

  &__content {
    margin-top: 40px;

    @media (max-width: $tabletWidth) {
      margin-top: 5.33rem;
    }

    @media (max-width: $mobileWidth) {
      margin-top: 5.33vw;
    }
  }

  &__button {
    margin: 40px 0;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  }
}

.promo-content {
  display: flex;

  @media (max-width: $tabletWidth) {
    flex-direction: column-reverse;
    padding: 0 5.33rem 5.33rem 5.33rem;
  }

  @media (max-width: $mobileWidth) {
    padding: 0 5.33vw 5.33vw 5.33vw;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-right: 30px;

    @media (max-width: $tabletWidth) {
      width: 100%;
      margin: 5.33rem 0 0 0;
    }

    @media (max-width: $mobileWidth) {
      margin: 5.33vw 0 0 0;
    }
  }

  &__item:not(:first-child) {
    margin-top: 12px;
  }

  &__item:not(:last-child)::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    opacity: 0.5;

    /* Primary */

    border-bottom: 1px solid $primaryColor;
  }

  &__title {
    margin-bottom: 8px;
    @include montserrat(600);
    font-size: 14px;
    line-height: 17px;
    color: $secondaryColor;

    @media (max-width: $tabletWidth) {
      font-size: 3.2rem;
      line-height: 4rem;
    }

  }

  &__text {
    margin-bottom: 12px;
    @include alegreya(normal);
    font-size: 13px;
    line-height: 18px;
    color: $secondaryColor;

    @media (max-width: $tabletWidth) {
      font-size: 2.93rem;
      line-height: 4rem;
    }
  }
}
