.calendar
    .calendar__header
        button.calendar__button
            img.calendar__nav-icon(src="./src/svg/calendar-left.svg", alt="nav-icon")
        .calendar__title
        button.calendar__button
            img.calendar__nav-icon(src="./src/svg/calendar-right.svg", alt="nav-icon")
    .calendar__month
        p.calendar__week-day Пн
        p.calendar__week-day Вт
        p.calendar__week-day Ср
        p.calendar__week-day Чт
        p.calendar__week-day Пт
        p.calendar__week-day Сб
        p.calendar__week-day Вс
    
script(src="./src/partials/calendar/calendar.js")