section.slider
    img.slider__bg-image(src="./src/img/food-2.png" alt="slider-bg-image")
    .slider-container.wrapper
        button.slider__button-nav.slider__button-nav_rotate(type='button')
            img(src="./src/svg/icon-arrow.svg" alt="icon-arrow").slider__arrow.slider__arrow_left
        .slider__content
            h2.slider__title Соберите свою пиццу
            p.slider__text Мы приготовим для Вас пиццу с вашими любимыми игридиентами
            button(type='button').button.slider__button заказать
            button(type='button').button.slider__button.slider__button_mobile выбрать
        button.slider__button-nav(type='button')
            img(src="./src/svg/icon-arrow.svg" alt="icon-arrow").slider__arrow
    .slider__pagination
        .slider__pagination-item
        .slider__pagination-item.slider__pagination-item_current
        .slider__pagination-item