.slider {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 554px;
  margin-top: 60px;

  @media (max-width: $tabletWidth) {
    height: 66.13rem;
  }

  @media (max-width: $mobileWidth) {

  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1130px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(
      269.9deg,
      rgba(0, 0, 0, 0.74) 30.89%,
      rgba(0, 0, 0, 0.03) 70.93%
    );
    width: 100%;
    height: 100%;
    max-height: 554px;
    z-index: -1;

    @media (max-width: $tabletWidth) {

    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    object-fit: cover;

    @media (max-width: $tabletWidth) {

    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__button-nav {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: none;
    border: 2px solid $primaryColor;
    box-sizing: border-box;
    background: transparent;
    flex-shrink: 0;
  
    @media (max-width: $tabletWidth) {
      width: 10.66rem;
      height: 10.66rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__button-nav_rotate {
    transform: rotate(-180deg);
  }

  &__content {
    margin-left: 45.7%;

    @media (max-width: $tabletWidth) {
    margin-left: 0;
    width: 42.66rem;
    position: absolute;
    left: 45.33vw;
    height: 100%;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__title {
    @include montserrat(600);
    @include subtitle();
    text-transform: uppercase;

    color: $primaryColor;

    @media (max-width: $tabletWidth) {
      margin-top: 6.13rem;
      font-size: 4.8rem;
      line-height: 5.86rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__text {
    margin-top: 40px;
    @include montserrat(normal);
    font-size: 24px;
    line-height: 29px;

    color: $secondaryColor;

    @media (max-width: $tabletWidth) {
      margin-top: 2.66rem;
      font-size: 3.73rem;
      line-height: 4.53rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__button {
    margin-top: 60px;

    @media (max-width: $tabletWidth) {
      display: none;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__button_mobile {
    display: none;

    @media (max-width: $tabletWidth) {
      margin-top: 16.53rem;
      display: block;
      width: 25.6rem;
      height: 6.4rem;
      font-size: 2.93rem;
      line-height: 3.46rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__pagination {
    position: absolute;
    bottom: 20px;
    width: 65px;
    left: calc(50% - 32.5px);
    display: flex;
    justify-content: space-between;

    @media (max-width: $tabletWidth) {
      width: 14.4rem;
      bottom: -5.86rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__pagination-item {
    width: 15px;
    height: 15px;
    border: 1px solid $primaryColor;
    box-sizing: border-box;
    border-radius: 50%;

    @media (max-width: $tabletWidth) {
      width: 2.66rem;
      height: 2.66rem;
    }
  
    @media (max-width: $mobileWidth) {
  
    }
  }

  &__pagination-item_current {
    background-color: $primaryColor;
  }
}
