<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    //- include ./partials/nav/nav.pug
    include ./partials/header/header.pug
    //- include ./partials/promo/promo.pug
    include ./partials/services/services.pug
    include ./partials/slider/slider.pug
    //- include ./partials/events/events.pug
    include ./partials/best-chefs/best-chefs.pug
    include ./partials/best-products/best-products.pug
    include ./partials/reviews/reviews.pug
    include ./partials/contacts/contacts.pug
    //- include ./partials/footer/footer.pug
  </body>
</html>
