body {
  background: $black;
  // text-rendering: geometricPrecision;
}

html {
  font-size: 5px;

  @media (max-width: 450px) {
    font-size: 3.75px;
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;

    &__count {
    position: absolute;
    right: 5.5px;
    top: 9px;
    padding: 0.3px 0 0 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7d2c1b;
    @include montserrat(500);
    font-size: 9px;
    line-height: 11px;
    color: $secondaryColor;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 266px;

  @media (max-width: $tabletWidth) {
    column-gap: 2.64rem;
    width: fit-content;
  }

  @media (max-width: $mobileWidth) {
    column-gap: 2.64vw;
  }

  &__img {
    position: relative;
    top: -5px;

    @media (max-width: $tabletWidth) {
      top: -0.98rem;
      width: 5.42rem;
      height: 5.33rem;
    }

    @media (max-width: $mobileWidth) {
      top: -0.98vw;
      width: 5.42vw;
      height: 5.33vw;
    }
  }

  &__text {
    @include alegreya(bold);
    font-size: 24px;
    line-height: 14px;
    text-transform: uppercase;
    color: $primaryColor;

    @media (max-width: $tabletWidth) {
      font-weight: 500;
      font-size: 4.8rem;
      line-height: 3.73rem;
      text-transform: none;
    }
    @media (max-width: $mobileWidth) {
      font-size: 4.8vw;
      line-height: 3.73vw;
    }
  }
}

.button {
  width: 160px;
  height: 32px;
  border: 1px solid $primaryColor;
  border-radius: 20px;
  background: transparent;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  color: $primaryColor;
  transition-duration: 0.5s;

  &:hover {
    background-color: $darkGray;
    text-shadow: 0px 0px 4px;
    box-shadow: 0 0 15px $primaryColor;

    @media (max-width: $tabletWidth) {
      background-color: $primaryColor;
      color: $darkGray;
      text-shadow: none;
      box-shadow: none;
    }
  }
}

.links {

  &__link {
    @include montserrat(normal);
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.75);
  }

  &__link_burger {
    font-size: 3.73rem;
    line-height: 4.53rem;
  }
}

.wrapper {
  max-width: 1268px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: $tabletWidth) {
  .wrapper {
    max-width: 788px;
    padding: 0;
  }
}


