$primaryColor: #34c759;
$secondaryColor: #ffffff;
$black: #1a1a1a;
$darkGray: #252525;
$liteGray: #737373;
$tabletWidth: 790px;
$mobileLargeWidth: 425px;
$mobileWidth: 376px;
$mobileWidthDiff: 0.7;

@mixin montserrat($fw) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: $fw;
}

@mixin alegreya($fw) {
  font-family: Alegreya;
  font-style: normal;
  font-weight: $fw;
}

@mixin subtitle {
  font-size: 36px;
  line-height: 44px;

  @media (max-width: 790px) {
    font-size: 32px;
    line-height: 32px;
  }
}

@mixin decorUnderline {
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "";
  width: 60px;
  height: 0;
  left: calc(50% - 30px);
  bottom: -20px;
  border: solid $primaryColor 1px;

  @media (max-width: $tabletWidth) {
    bottom: -2.66rem;
  }
}
